# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Presentation/Project Presentation 05-02-2026.mov.zip
Presentation/Project Presentation 05-02-2026.mov
Presentation/Project Presentation 05-02-2026 - Converted.mp4
