# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Presentation/Project Presentation 05-02-2026.mov.zip
Presentation/Project Presentation 05-02-2026.mov
Presentation/Project Presentation 05-02-2026 - Converted.mp4
Modeling Common API's for Network Tunneling/Library/PackageCache/com.unity.toolchain.macos-x86_64-linux@6f1d7b3cfeeb/data~/payload.tar.7z
Modeling Common API's for Network Tunneling/Library/PackageCache/com.unity.sdk.linux-x86_64@2410622f0a67/data~/payload.tar.7z
Modeling Common API's for Network Tunneling/Library/ArtifactDB
Modeling Common API's for Network Tunneling/Library/ArtifactDB
Modeling Common API's for Network Tunneling/Library/ArtifactDB
